html,body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    
    overflow-x: hidden;
}
/* Hides the scrollbar while still able to scroll */
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.navbar{
    position: relative;
    width: 100%;
    z-index: 999;
    padding: 0px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background-color: black;
    
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
#container {
    height:100%;
    width:auto;
    white-space:nowrap;
    overflow:hidden;
}
#iframe {
    border:1px solid black;
    background:rgb(247, 254, 255);
    height:70%;
    /* display:inline-block;  */
    width:100%;
    /* what is inline */  
}
#editors {
    border:2px solid black;
    position: relative;
    background-color:#21222C;
    height:50%;
    width:100%;
    /* what is inline */
    /* display:inline-block;  */
}
.editor {
    border:1.5px solid black;
    position: absolute;
    /* background: blue; */
    top:8%;
    height:90%;
    width:31%;
    resize: horizontal;
    overflow: auto;
}
#htmlEditor {  
    left:2%;  
    
}
#cssEditor {
    left:34%;
    /* cursor: col-resize; */
}
#jsEditor {
    right:2%;
    /* left: 65%; */
    /* cursor: col-resize; */
}
#labels {
    position: absolute;
    top:0%;
    height:8%;
    width:32%;
    text-align: center;
}
.htmlLabel {
    left:1%;  
}
.cssLabel {
    left:34%;
}
.jsLabel {
    right:1%;
}
#text {
    color:white;
    font-family:  'Ubuntu', sans-serif;
}

.button {
    background-color: red;
    border: none;
    padding: 2px 6px;
    cursor: pointer;
    border-radius: 5px;
    
    
}
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.minButton {
    position:absolute;
    left:0%;
}

.downloadCode {
    position:absolute;
    left:0%;
}

.maxButton {
    position:absolute;
    right:0%;
}
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}
textarea
{
    background-color: #1e1f26;
    }

    .howtouse .prev,
    .howtouse .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      transition: all 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    .howtouse .prev:hover,
    .howtouse .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
    }
    
    .howtouse .prev {
      left: 2px;
    }
    
    .howtouse .next {
      right: 2px;
    }
    
    .dots-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    
    .dots-container .dot {
      cursor: pointer;
      margin: 5px;
      width: 20px;
      height: 20px;
      color: #333;
      border-radius: 50%;
      background-color: #dfd6ce;
    }
    
    .dots-container .dot.active {
      border: 2px solid green;
    }
    
    * {
      padding: 0;
      border: 0;
      box-sizing: border-box;
    }
    
    body {
      height: 100%;
    /*   background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
    }
    
    body h1 {
      text-align: center;
    }
    
    .howtouse {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1000px;
      margin: auto;
      position: relative;
    }
    
    .howtouse .slide {
      display: none;
      width: 100%;
    }
    
    .howtouse .slide.fade {
      animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    }
    
    .howtouse .slide img {
      width: 100%;
    }
    hr {
        margin: 20px 0;
        border: 1px solid black;
    }